name: Adapter Checks

on:
  pull_request:
    branches: [ master ]
    paths: [ 'adapters/**' ]

jobs:
  # Check if the file format seems valid
  check_format:
    name: File format
    runs-on: ubuntu-latest
    # output changed files for the next step
    outputs:
      added_modified: ${{ steps.files.outputs.added_modified }}
    steps:
      - uses: actions/checkout@v2
      - id: files
        uses: calpt/get-changed-files@master
        with:
          format: 'space-delimited'
      - uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install
        run: |
          pip install -r scripts/requirements.txt
      - name: Adapter entry format checking
        run: |
          python scripts/check_format.py adapter ${{ steps.files.outputs.added_modified }}
      - name: File generation test
        run: |
          python scripts/generate.py
  # Check if the provided download links refer to valid weights
  check_download_files:
    name: Download files
    runs-on: ubuntu-latest
    needs: check_format
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install Framework
        # TODO replace download link after going public
        run: |
          pip install -r scripts/requirements.txt
          pip install torch
          pip install http://adapter-hub.webredirect.org/adapter-transformers-master.zip
      - name: Check download files
        run: |
          python scripts/check_download_files.py ${{ needs.check_format.outputs.added_modified }}
